.navbar {
  flex:1;
  display: flex;
  flex-direction: column;
  gap: 2.5em;
  padding: 1.5em 1em;
  background-color: #f7f8fa;
}
.navbar .navTitle {
  color: #b2b5bf;
  font-weight: bold;
  font-size: 0.9em;
}
.navbar ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  justify-content: space-between;
}
.navbar ul li {
  display: flex;
  gap: 0.3em;
  justify-content: flex-start;
  align-items: center;

  height: 2.5em;

  color: #7d8497;
  font-weight: 600;
  font-size: 0.9em;
}
.navbar ul li:hover {
  cursor: pointer;
  color: #2dc76d;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .navbar {
    width: 100%;
    height: auto;
    position: relative;
    border: 2px solid red;
    display: none;
  }
  .sidebar li {float: left;}
}