.navbar {
  grid-area: 2 / 1 / 3 / 2;
  display: flex;
  flex-direction: column;
  gap: 2.5em;
  padding: 2.5em 2em;
  background-color: #f7f8fa;
}
.navTitle {
  color: #b2b5bf;
  font-weight: bold;
  font-size: 0.9em;
}
.navbar ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  justify-content: space-between;
}
.navbar ul li {
  display: flex;
  gap: 0.3em;
  justify-content: flex-start;
  align-items: center;

  height: 2.5em;
  /* padding: 0.5em 0; */

  color: #7d8497;
  font-weight: 600;
  font-size: 0.9em;
}
.navbar ul li:hover {
  cursor: pointer;
  color: #2dc76d;
}
